<ul class="pagination">

        {% if page.has_previous %}
            <li class="page-item"><a class="link-underline link-underline-opacity-0 page-link" href="?page={{ page.previous_page_number }}">Poprzednia</a></li>
        {% else %}
            <li class="page-item disabled"><span class="link-underline link-underline-opacity-0 page-link">Poprzednia</span></li>
        {% endif %}

    {% if page.has_next %}
        <li class="page-item"><a class="link-underline link-underline-opacity-0 page-link" href="?page={{ page.next_page_number }}">Następna</a></li>
    {% else %}
        <li class="page-item disabled"><span class="link-underline link-underline-opacity-0 page-link">Następna</span></li>
    {%endif %}

</ul>