{% extends "notatki/base.html" %}
{% block title %}Moje notatki{% endblock %}
{% block content %}
 <h1 style="padding-top: 20px">Moje notatki</h1>
 {% for post in posts %}
 <h2>
 <a class="link-underline link-underline-opacity-0" href="{{ post.get_absolute_url }}">
 {% if post.priority == 0 %}
     <span class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{ post.title }}</span>
 {% elif post.priority == 1 %}
    <span class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">{{ post.title }}</span>
 {% endif %}
 </a></h2>

 <p class="date">
 Opublikowany {{ post.publish }} przez {{ post.author }}
 </p>
 {{ post.body|truncatewords:30|linebreaks }}
 {% endfor %}
       {% include "notatki/pagination.html" with page=page_obj %}

{% endblock %}